<div id="post">
<a class="link" href="/post/{{id}}">{{title}}</a>
Author Name: {{user.username}}
Date created: {{format_date date_created}}
Body: {{post_body}}
</div>

<script src="/js/commentPost.js"></script>